terraform {
  backend "s3" {
    bucket       = "replace-with-staging-state-bucket"
    key          = "yanki/staging/terraform.tfstate"
    region       = "replace-with-parent-region"
    encrypt      = true
    kms_key_id   = "replace-with-state-kms-key-arn"
    use_lockfile = true
  }
}
